*{
    margin: 0;
    padding: 0;
    font-size: 0;
    font-weight: 0; 
}
.container{
    max-width: 1070px;
    margin: 0 auto;
}
.header{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0px 47px;
}
.header__flex, .footer__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__li{
    display: inline-block;
}
.nav__li:not(:first-of-type){
    margin-left: 49px;
}
.nav__link{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}  
.nav__link:hover{
    color: black;
    transition: 300ms;
}
.button{
    width: 212px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button__orange{
    background: #FF7143;
}
.button__orange:hover{
    background: #e34e1c;
    transition: 300ms;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 104px auto 85px;
}
.about__title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}
.about__text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 464px;
    margin-bottom: 50px;
}
.button__violet{
    background: #5454D4;
    margin-bottom: 50px;
}
.button__violet:hover{
    background: #1212ac;
    transition: 300ms;
}
.button__transparent{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
    margin-bottom: 50px;
}
.button__transparent:hover{
    background: none;
    color: #1212ac;
    border: 3px solid #1212ac;
}

.footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 53px 0px;
}
